<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="kkbox.com.androidstudysession">

	<application
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
		<activity
				android:name=".MainActivity"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name="kkbox.com.circluarfloatingactionmenu.activity.MenuWithFABActivity"/>
		<activity
				android:name="com.johnny.materialripplelayout.activity.RippleActivity"/>
		<activity
				android:name="com.daimajia.numberprogressbar.example.NumberProgressBarActivity"/>
		<activity
				android:name="is.arontibo.library.sample.ElasticDownloadActivity"/>
		<activity
				android:name="com.melnykov.fab.sample.FloatingActionButtonActivity"/>
		<activity
				android:name="com.daimajia.androidviewhover.activity.AndroidViewHolderActivity"/>
		<activity
				android:name="com.jpardogo.android.googleprogressbar.GoogleProgressBarActivity"/>
		<activity
				android:name="com.ascii.phoenix.PhoenixActivity"/>
		<activity
				android:name="com.ascii.phoenix.PhoenixDemoActivity"/>
		<activity
				android:name="com.ascii.phoenix.PhoenixMoonActivity"/>
		<activity
			    android:name="com.ascii.phoenix.DropDownToolsActivity"/>
		<activity
				android:name="com.karen.processbutton.activity.ProcessButtonActivity"/>
		<activity
				android:name="com.wendy.titanic.TitanicActivity"/>
		<activity
				android:name="com.lorentzos.swipecards.ChooseSwipeCardsActivity"/>
		<activity
				android:name="com.lorentzos.swipecards.SwipeCardsActivity"/>
		<activity
				android:name="com.lorentzos.swipecards.PracticeSwipeCardsActivity"/>
		<activity
			android:name="com.kkbox.flipviewpager.sample.activity.FriendsActivity"/>

		<activity android:name="com.johnny.circleindicator.IndicatorDemoActivity" />
	</application>

</manifest>
